@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    transition: 0.15s ease-in-out;
}

body {
    margin: 0;
    background: rgb(131, 116, 244) url(./images/background.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    margin: -5px 0 0 0;
    padding: 0;
    align-self: flex-start;
    font-weight: bold;
    font-size: larger;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.login {
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: #a398f7 3px 3px 15px;
}

div.buttons {
    width: 100%;
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

div.buttons>input {
    flex: 1;
}

input.text {
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #4f5661;
    background-color: #4f566118;
}

input.text:focus {
    border-width: 0 0 5px;
    border-color: #a398f7;
    font-weight: bold
}

input.help {
    height: 34.5px;
    align-self: flex-start;
    padding: 0;
    margin: 0;
    border-style: none;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #4f566115;
    cursor: pointer;
}

input.button {
    height: 34.5px;
    align-self: flex-end;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #a398f7;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #a398f7;
    color: #FFFFFF;
    cursor: pointer;

}

input.help:hover {
    background-color: #4f566130;
}

input.button:hover {
    color: #a398f7;
    background-color: #FFFFFF;
    font-weight: bold
}

h1 {
    margin: 0;
    width: 100%;
}

h2 {
    margin-top: 0;
    font-size: 1.2rem;
}

img.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-image: cover;

}


.messages {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 9999;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.message {
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: forwards FadeUpDownAppear 5s ease-out;
}

.message.error {
    background-color: rgb(240, 46, 43);
    color: white;
}

.message.success {
    background-color: rgb(36, 134, 69);
    color: white
}

.message.warning {
    background-color: #ffc525;
    color: #383b41
}

.cat {
    display: flex;
    width: calc(100% - 30px);
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.details {
    width: calc(100% - 30px);
    max-width: calc(100% - 30px);;
    height: calc(100% - 30px);
    background-color: rgb(236, 236, 237);
    border-radius: 5px;
    overflow-y: auto;
}

.actions {
    display: flex;
    width: calc(100% - 30px);
    gap: 10px;
    justify-content: stretch;
}

@keyframes FadeUpDownAppear {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    10% {
        transform: translateY(0%);
        opacity: 1;
    }

    90% {
        transform: translateY(0%);
        opacity: 1;
    }

    99.9% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        display: None;
    }
}

div.school {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    margin: 15px
}

div.account {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.menu {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: white;
    border-radius: 15px;
    padding: 15px
}

div.schedule {
    grid-column: 1 / 4;
    grid-row: 2 / 14;
    background-color: white;
    border-radius: 15px;
    padding: 15px
}

div.users {
    grid-column: 4 / 6;
    grid-row: 2 / 8;
    background-color: white;
    border-radius: 15px;
    padding: 15px
}

div.logs {
    grid-column: 4 / 6;
    grid-row: 8 / 14;
    background-color: white;
    border-radius: 15px;
    padding: 15px
}

div.schoolName>p {
    margin: 0;
    font-size: 14px;
    height: 100%;
}

div.schoolName {
    display: flex !important;
    flex-direction: row;
}

div.logout>img {
    height: calc(100%-7.5px);
    width: 20px;
    cursor: pointer;
    background-color: #383b41;
    border-radius: 5px;
    padding: 5px;
}

div.logout>img:hover {
    background-color: #7650ac;
}

div.logout {
    padding: 0;
    margin: 0 0 0 10px;
    display: flex !important;
    flex-direction: row-reverse;
}