{%extends "layouts/layout.html" %}

{%block title%}Login{%endblock%}

{%block body%}
<form method="post">
    <div class="login">
        <!-- username password POST -->
        {% if type == 0: %}
        <h1>Bienvenue 👋</h1>
        <h2>Configurez votre environement NimblENT</h2>
        <input spellcheck="false" class="text" type="text" name="schoolname" placeholder="nom de l'établissement"
            required />
        <input spellcheck="false" class="text" type="text" name="username" placeholder="RNE" required />
        <input spellcheck="false" class="text" type="password" name="password" placeholder="mot de passe" required />
        <input spellcheck="false" class="text" type="password" name="passwordconf" placeholder="confirmer mot de passe"
            required />
        <div class="buttons">
            <input class="help" type="button" value="Aide"
                onclick="window.location.href=`https://github.com/firelop/NimblentFlask`" />
            <input class="button" type="submit" value="Créer" />
        </div>
        {% elif type == 1: %}
        <h1>Bonne journée 👋</h1>
        <h2>Connectez-vous à votre espace</h2>
        <input spellcheck="false" class="text" type="text" name="username" value="{{username}}" placeholder="nom d'utilisateur" required />
        <input spellcheck="false" class="text" type="password" name="password" placeholder="mot de passe" required />
        <div class="buttons">
            <input class="help" type="button" value="Aide"
                onclick="window.location.href=`https://github.com/firelop/NimblentFlask`" />
            <input class="button" type="submit" value="Se connecter" />
        </div>
        {% elif type == 3: %}
        <h1>Création d'un compte</h1>
        <h2>Ajouter un utilisateur</h2>
        <input spellcheck="false" class="text" type="text" name="firstName" placeholder="prénom.s" required />
        <input spellcheck="false" class="text" type="text" name="lastName" placeholder="nom de famille" required />
        <div>  
            <input type="checkbox" name="isATeacher" />
            <label for="isATeacher">Professeur</label>
        </div>
        <input spellcheck="false" class="text" type="text" name="username" placeholder="nom d'utilisateur" required />
        <input spellcheck="false" class="text" type="password" name="password" placeholder="mot de passe" required />
        <div class="buttons">
            <input class="help" type="button" value="Aide"
                onclick="window.location.href=`https://github.com/firelop/NimblentFlask`" />
            <input class="button" type="submit" value="Créer" />
        </div>
        {% endif %}
    </div>

</form>
{%endblock%}