{%extends "layouts/layout.html"%}
{%block title %}Panel Administrateur{%endblock%}
{%block body%}
<div class="school">
    <div class="account">
        <div class="schoolName">
            <p>{{School.select()[0].toDict()["schoolName"]}}</p>
        </div>

        <div class="logout">
            <img onclick="window.location.href = `{{url_for('logout')}}`;"
                src="{{url_for('static', filename='./images/icons/logout.svg')}}" />
        </div>
    </div>
    <div class="menu">

    </div>
    <div class="schedule cat">
        <h2>Emplois du temps</h2>
        <div class="scheduleDetails details"></div>

    </div>
    <div class="users cat">
        <h2>Base utilisateur</h2>
        <div class="usersDetails details">
            {% for student in Students.select()%}
            <div class="tile">
                <div class="pdp">

                </div>
                <div class="text">
                    <div class="name">
                        <p>{{student.toDict()["firstName"]}} {{student.toDict()["lastName"]}}</p>
                    </div>
                    <div class="level">
                        <p>{{student.toDict()['level']}}</p>
                    </div>
                </div>
            </div>
            {%endfor%} 
            {% for teacher in Teachers.select()%}
            <div class="tile">
                <div class="pdp">

                </div>
                <div class="text">
                    <div class="name">
                        <p>{{teacher.toDict()["firstName"]}} {{teacher.toDict()["lastName"]}}</p>
                    </div>
                    <div class="level">
                        <p>Professeur</p>
                    </div>
                </div>
            </div>
            {%endfor%} 
        </div>
        <div class="actions">
            <div class="button primary" onclick=window.location.href='{{url_for("add_student")}}'>
                <i data-feather="plus"></i>
                Ajouter un élève
            </div>
            <div class="button primary" onclick=window.location.href='{{url_for("add_teacher")}}'>
                <i data-feather="plus"></i>
                Ajouter un professeur
            </div>
        </div>
    </div>
    <div class="logs cat">
        <h2>Logs</h2>
        <div class="logsDetails details"></div>

    </div>
</div>
{%endblock%}