{%extends "layouts/layout.html" %}

{%block title%}Login{%endblock%}

{%block body%}
<form method="post">
    <div class="login">
        {% if type == 0: %}
        <h2>Ajouter un cours</h2>
        <input spellcheck="false" class="text" type="text" name="title" value="{{title}}" placeholder="Libellé du cours"
            required />
        <input spellcheck="false" class="text" type="text" name="room" value="{{room}}" placeholder="Salle de classe"
            required />
        <input spellcheck="false" class="text" type="datetime" name="start" value="{{start}}" placeholder="Jour et heure de début"
            required />
        <input spellcheck="false" class="text" type="datetime" name="end" value="{{end}}" placeholder="Jou et heure de fin"
            required />
        <input spellcheck="false" class="text" type="text" name="persons" value="{{persons}}" placeholder="Elèves et profs dans ce cours"
            required />
        {% elif type == 1: %}
        <h2>Modifier un cours</h2>
        <input spellcheck="false" class="text" type="text" name="title" value="{{title}}" placeholder="Libellé du cours"
            required />
        <input spellcheck="false" class="text" type="text" name="room" value="{{room}}" placeholder="Salle de classe"
            required />
        <input spellcheck="false" class="text" type="datetime" name="start" value="{{start}}" placeholder="Jour et heure de début"
            required />
        <input spellcheck="false" class="text" type="datetime" name="end" value="{{end}}" placeholder="Jou et heure de fin"
            required />
        <input spellcheck="false" class="text" type="text" name="persons" value="{{persons}}" placeholder="Elèves et profs dans ce cours"
            required />
        {% endif %}
    </div>
</form>
{%endblock%}