{%extends "layouts/layout.html"%}
{%block title %}Accueil Elève{%endblock%}
{%block body%}
<div class="school">
    <div class="account">
        <div class="schoolName">
            <p>{{School.select()[0].schoolName}}</p>
        </div>

        <div class="logout">
            <img onclick="window.location.href = `{{url_for('logout')}}`;"
                src="{{url_for('static', filename='./images/icons/logout.svg')}}" />
        </div>
    </div>
    <div class="menu">

    </div>
    <div class="schedule cat">
        <h2>Emplois du temps</h2>
        <div class="scheduleDetails details"></div>

    </div>
    <div class="users cat">
        <h2>Base utilisateur</h2>
        <div class="usersDetails details"></div>
        <div class="actions">
            <div class="button primary" onclick=window.location.href='{{url_for("add_user")}}'>
                <i data-feather="plus"></i>
                Ajouter un utilisateur
            </div>
        </div>
    </div>
    <div class="logs cat">
        <h2>Logs</h2>
        <div class="logsDetails details"></div>

    </div>
</div>
{%endblock%}